<script type="text/javascript">
    $(function () {
        $("#export-pdf").insertAfter("#summary_box__confirm_button");
    });
</script>
<p id="export-pdf">
    <a href="{{ url('plugin_customer_pdf_download', {'id': order_id, 'type' : export_type}) }}" class="btn btn-primary btn-block" {{ csrf_token_for_anchor() }} data-method="post" data-confirm="false">export</a>
</p>